{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error_text is defined %}
        {{ error_text }}
    {% endif %}

    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
    <a href="/register">Register</a>
{% endblock %}