{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    {% if error_text is defined %}
       {{ error_text }}
    {% endif %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Register new user</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required minlength="6">
        <label for="inputPasswordRepeat">Repeat  password</label>
        <input type="password" name="password_repeat" id="inputPasswordRepeat" class="form-control" required minlength="6">
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
    <a href="/login">Login</a>
{% endblock %}